.footer {
    background-color: #333;
    color: #fff;
    padding: 20px 0;
    text-align: center;
}

.footer-container {
    max-width: 1200px;
    margin: auto;
    padding: 0 20px;
}

.footer-title {
    margin-bottom: 20px;
}

.footer-content {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.team-info, .office-info {
    flex: 1;
    min-width: 200px;
    margin-bottom: 20px;
}

.team-info h3, .office-info h3 {
    margin-bottom: 10px;
}

.team-info ul {
    display: flex;
    flex-direction: column;
    align-items: center;
    list-style-type: none;
    padding: 0;
    text-align: left;
}

.team-info li {
    margin-bottom: 5px;
    display: block;
}

.office-info {
    text-align: left;
}
