body {
    background-color: #121212;
    color: white;
    font-family: Arial, sans-serif;
}

.container {
    padding: 20px;
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.price-card {
    background-color: #1e1e1e;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.price-card h2, .price-card p {
    margin: 5px;
}

.price-details {
    display: flex;
    flex-direction: column;
    text-align: left;
    width: 100%;
}

.price-row {
    display: flex;
    justify-content: space-between;
    padding: 5px 0;
}

.price-row label {
    font-weight: bold;
}

.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.7);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.modal-content {
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.2);
    position: relative;
    width: 50%;
    max-width: 600px;
}

.close-button {
    cursor: pointer;
    position: absolute;
    right: 10px;
    top: 10px;
    font-size: 24px;
    background: none;
    border: none;
    color: #333;
}

@media (max-width: 768px) {
    .modal-content {
        width: 70%;
    }
}

@media (max-width: 430px) {
    .modal-content {
        width: 90%;
    }

    .close-button {
        font-size: 20px;
    }
}
